@model MvcCodeFirst.Models.SysUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@Model.Email
@Model.CreateDate
@Model.ID
@Model.PassWord
@Model.UserName

@Model.SysDepartment.DepartmentName


